<mat-toolbar color="primary">
    <span>HRMS</span>

    <span class="example-spacer"></span>

    <div class="nav-button">
        <button mat-button routerLink="/">Home</button>
    </div>

    <div class="nav-button">
        <button mat-button routerLink="/aboutus">About Us</button>
    </div>

    <div class="nav-button">
        <button mat-button routerLink="/contactus">Contact Us</button>
    </div>

    <!-- Add additional navigation items as needed -->

    <span class="example-spacer"></span>

    <div class="nav-button">
        <button mat-button routerLink="/sign-up">SignUp</button>

    </div>
    <div class="nav-button">
        <button mat-button routerLink="/sign-in">SignIn</button>

    </div>

</mat-toolbar>